@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

<div class="card-deck">
    <div class="card">
        <img src=~/Assets/Sin título-1 copia.jpg class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src=~/Assets/Sin título-11.jpg class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src=~/Assets/assets/Sin título-1 copia.jpg class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">Card title</h2>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-8"><h1>Noticias de la Actualidad</h1> </div>
        <div class="col-4"><h1>Audiolibros</h1></div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="media">
                <img src=~/Assets/assets/captura-de-pantalla-2020-09-28-a-las-11.02.48-min-655x368.png width="250" height="200" class="align-self-end mr-sm-2" alt="1">
                <div class="media-body">
                    <h5 class="mt-0">La historia de Eli: la abeja que llevaba muy mal picar a las personas</h5>
                    <p>La abeja Eli’ (Malian Editora), escrita por Belén Monreal e ilustrada por Marjoris Pirela, es uno de los lanzamientos infantiles del otoño que no te vas a querer perder. Este cuento para niños (y no tan niños) relata la historia de Eli, una alumna aplicada en su escuela que quiere conseguir la estrella dorada que se otorga a la mejor abeja al acabar el último curso. Para ello, Eli tiene que aprender a volar, a construir un panal, a producir miel, aprender geometría y a picar a las personas. Sin embargo, no lleva nada bien hacer daño a la gente. ¿Cómo conseguirá aprobar el curso sin realizar ninguna picadura?</p>                
                </div>
            </div>
        </div>
        <div class="col-4"><iframe width="300" height="169" src="https://www.youtube.com/embed/_LyQH01rfo8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                           <iframe width="300" height="169" src="https://www.youtube.com/embed/fVR4do8Uhkc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
</div>

