
@{
    ViewBag.Title = "Home Page";
}
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="carrousel-inner:100px">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
            <div class="d-block w-100" alt="...">
                <div class="card-deck">
                    <div class="card">
                        <img src="~/Assets/assets/Sintítulo-1copia.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title">Pablo Neruda</h2>
                            <p class="card-text; text-justify">La literatura de Neruda distingue distintos períodos estilísticos. Desde su obra Canto general (1950), el autor se circunscribe en el llamado realismo socialista soviético, impulsado por Andréi Zhdánov, y en el cual Neruda alcanzaría su culminación con Las uvas y el viento (1954).</p>
                            <p class="card-text"><small class="text-muted">Biografia del Autor</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src=~/Assets/assets/Sintítulo-11.jpg class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title">William Shakespeare</h2>
                            <p class="card-text; text-justify">Fue un dramaturgo, poeta y actor inglés. Conocido en ocasiones como el Bardo de Avon, Shakespeare es considerado el escritor más importante en lengua inglesa y uno de los más célebres de la literatura universal.</p>
                            <p class="card-text"><small class="text-muted">Biografía del Autor</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src=~/Assets/assets/Sintítulo-12.jpg class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title">Oscar Wilde</h2>
                            <p class="card-text; text-justify">Fue un escritor, poeta y dramaturgo de origen irlandés.​Wilde es considerado uno de los dramaturgos más destacados del Londres victoriano tardío; además, fue una celebridad de la época debido a su gran y aguzado ingenio.</p>
                            <p class="card-text"><small class="text-muted">Biografía del Autor</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100">
                <div class="card-deck">
                    <div class="card">
                        <img src=~/Assets/assets/GGM.jpg  class="card-img-top">
                        <div class="card-body">
                            <h2 class="card-title">Gabriel García Marquez</h2>
                            <p class="card-text; text-justify">Fue un escritor, guionista, editor y periodista colombiano. En 1982 recibió el Premio Nobel de Literatura.​ Fue conocido por su apodo Gabo y familiarmente y por sus amigos como Gabito.</p>
                            <p class="card-text"><small class="text-muted">Biografía del Autor</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src=~/Assets/assets/PH.jpg class="card-img-top">
                        <div class="card-body">
                            <h2 class="card-title">Paulo Cohelo</h2>
                            <p class="card-text; text-justify">Es un novelista, dramaturgo y letrista brasileño. Es uno de los escritores y novelistas más leídos del mundo con más de 320 millones de libros vendidos en más de 170 países, traducidos a 83 lenguas.</p>
                            <p class="card-text"><small class="text-muted">Biografía del Autor</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src=~/Assets/assets/MAG.jpg título-1 copia.jpg class="card-img-top">
                        <div class="card-body">
                            <h2 class="card-text; text-justify">Miguel Angel Asturias</h2>
                            <p class="card-text; text-justify">Fue un escritor, periodista y diplomático guatemalteco que contribuyó al desarrollo de la literatura latinoamericana, influyó en la cultura occidental y, al mismo tiempo, llamó la atención sobre la importancia de las culturas indígenas, especialmente las de su país natal, Guatemala.</p>
                            <p class="card-text"><small class="text-muted">Biografía del Autor</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-8"><h1>Noticias de la Actualidad</h1> </div>
        <div class="col-4"><h1>Audiolibros</h1></div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="media">
                <div class="jumbotron">
                    <img src=~/Assets/assets/captura-de-pantalla-2020-09-28-a-las-11.02.48-min-655x368.png width="250" height="200" alt="1" style="float:left;margin:10px;border-color:antiquewhite">

                    <h2 class="mt-0; mark">La historia de Eli: la abeja que llevaba muy mal picar a las personas</h2>
                    <p class="lead; text-justify">La abeja Eli’ (Malian Editora), escrita por Belén Monreal e ilustrada por Marjoris Pirela, es uno de los lanzamientos infantiles del otoño que no te vas a querer perder. Este cuento para niños (y no tan niños) relata la historia de Eli, una alumna aplicada en su escuela que quiere conseguir la estrella dorada que se otorga a la mejor abeja al acabar el último curso. Para ello, Eli tiene que aprender a volar, a construir un panal, a producir miel, aprender geometría y a picar a las personas. Sin embargo, no lleva nada bien hacer daño a la gente. ¿Cómo conseguirá aprobar el curso sin realizar ninguna picadura?</p>
                    <a class="btn btn-primary btn-lg" href="https://okdiario.com/cultura/historia-eli-abeja-que-llevaba-muy-mal-picar-personas-6200373" role="button">Ir al Artículo</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/_LyQH01rfo8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="300" height="169" src="https://www.youtube.com/embed/fVR4do8Uhkc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<style type="text/css">
    .carousel-inner {
        height: 450px
    }

        .carousel-inner img {
            height: 250px
        }
    .card:hover {
        transform:scale(1.05);
        animation-timing-function:ease-out
        
    }
</style>